node_modules
.DS_Store
.env
app/servers.json
servers.json
.DS_Store
/gke/.terraform
.terraform

**/.terraform/*

.DS_Store
/gke/.terraform
.terraform

**/.terraform/*

data

*.tfstate
*.tfstate.*

crash.log

#
*.tfvars

override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

**/.terraform/*

data

*.tfstate
*.tfstate.*

crash.log

#
*.tfvars

override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

**/dev/dvc-command
**/dev/live-command
/dev

.npmrc

**/gha-creds-*.json

/package-lock.json

**/.env.backup

**/node_modules

.lock.hcl

**/__pycache__
__pycache__

**/data/*.json
**/data/*.txt

**/.env
.env
.env.backup
.env.local

**/.env.*
**/.env.*
**/.env.local
**/.env.preview
**/.env.prod
**/.env.compose
**/.env.shared
**/.env.remote
**/.env.tunnel

!**/.env.template

**/output.txt

**/app/liste/container/src/app/audio/*.**

**/dist

**/aim

**/mcp.json


**/global-*.mdc


!.claude/settings.local.json

.claude/**


.history

.history/**


.mcp.json

**/.mcp.json

